idea/workspace.xml
notebooks/local/models
notebooks/models
notebooks/speed-limit-signs
notebooks/speed-limit-signs.zip
notebooks/augmented-signs
notebooks/augmented-signs.zip
data/augmented-signs
data/augmented-signs.zip
tmp

*-checkpoint.ipynb